name: Sunshine-Release-World # Can be named whatever you want.
on:
  push:
    branches: # Specifying a trigger point to start this process. Can be pushing to a specific branch or group of branches that start/end with certain characters. Can be also be done via tags.
      - main
  workflow_dispatch: # This trigger point means on manually starting it by going to project > actions > click on the name of the action (see above name) and then start.

jobs: # Define 1 or more "steps" to complete as part of this automatic release. If they don't "depend" on a prior step to complete, they will run in parallel.
  windows-deps: # Name of this job can be whatever you want, i went ahead and named these based on what its trying to do, like download windows libraries, Linux, etc.
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4 # Downloads the latest copy of the current repo this is attached to. Can be used to checkout other repos as well.
    - uses: actions/setup-python@v5
      with:
        python-version: "3.13"
        cache: pip
    - name: Clear pip cache # This clears the pip cache in case any libraries with the same name were already installed on the same machine.
      run: pip cache purge
    - name: Create Lib-Windows
      run: mkdir lib-windows
    - name: Install Windows-Deps
      run: pip install -r ${{github.workspace}}/worlds/sms/requirements.txt --target ./lib-windows --verbose # this looks for wherever the repo was downloaded, then fins the worlds folder, your world, then checks your world's python requirements file to download via Pip.
    - uses: actions/upload-artifact@v4 # uploads this zip as part of the GitHub action, NOT a release. Actions have what are called artifacts, which are basically one or more output files that may be required between different stages or just an output in general.
      with:
        name: lib-windows
        path: ./lib-windows/**
  
  linux-deps: # Same actions as above except on Linux
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.13"
        cache: pip
    - name: Clear pip cache
      run: pip cache purge
    - name: Create Lib-Linux
      run: mkdir lib-linux
    - name: Install Linux-Deps
      run: pip install -r ${{github.workspace}}/worlds/sms/requirements.txt --target ./lib-linux --verbose
    - uses: actions/upload-artifact@v4
      with:
        name: lib-linux
        path: ./lib-linux/**

  package: # Waits on both types of dependencies to complete, then creates an AP world.
    needs: [windows-deps, linux-deps]
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Compress Directory # This is still using the old methodology. I plan to do some updates in the next few days to use the new "Build APWorld" thing core made.
        run: Compress-Archive -Path ./worlds/sms -DestinationPath ./sms.apworld
        shell: pwsh 
      
      - uses: actions/upload-artifact@v4
        with:
          name: apworld
          path: sms.apworld

  publish: # Once the world is created we are ready to publish a draft release. I purposely dont let it fully release and instead create drafts so I can write up notes, etc.
    runs-on: ubuntu-latest
    needs: [package]
    permissions:
      contents: write
    steps:
      - name: Create Local Artifact Folder
        run: mkdir tmp-artifacts
      - name: Create Local Windows Lib Folder
        run: mkdir tmp-windows-lib
      - name: Create Local Linux Lib Folder
        run: mkdir tmp-linux-lib
      
      - uses: actions/download-artifact@v4 # Downloads the previous artifacts from the other jobs/steps. Note: It does unzip them so thats why in a later step a few down we re-zip them again as part of the draft release.
        with:
          name: lib-windows
          path: tmp-windows-lib
      - uses: actions/download-artifact@v4
        with:
          name: lib-linux
          path: tmp-linux-lib
      - uses: actions/download-artifact@v4
        with:
          name: apworld
          path: tmp-artifacts

      - name: Zip Lib Windows folder
        run: cd tmp-windows-lib && zip -r ../tmp-artifacts/lib-windows.zip * && cd ../
      - name: Zip Lib Linux folder
        run: cd tmp-linux-lib && zip -r ../tmp-artifacts/lib-linux.zip * && cd ../

      - name: Create Manual Release
        uses: softprops/action-gh-release@v2.3.2
        with:
          draft: true
          prerelease: false
          name: Mario Sunshine AP
          files: |
            tmp-artifacts/*